.gift-detail-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 0;

  .gift-donation-container {
    display: flex;
    margin: 0 auto 0 auto;
    width: 80%;
    padding: 60px 0;
    background-color: #fff;
    justify-content: center;

    .gift-detail {
      .gift-info-donation {
        display: flex;
        min-height: 300px;

        .gift-images {
          width: 40%;
          border: 1px solid lightgray;
          border-radius: 5px;
          padding: 20px;
          display: -ms-flexbox;
          display: flex;
          height: 245px;

          img {
            width: 100%;
          }
        }

        .gift-donate-form {
          width: 60%;
          padding-left: 40px;

          .gift-details {
            height: 100%;
            display: flex;
            flex-flow: row wrap;

            .gift-amount-donated-percent {
              display: flex;
              justify-content: space-between;
              width: 100%;
              margin-right: 66px;
              align-items: center;

              .percent {
                justify-self: flex-end;
                font-size: 2.8em;
                color: $fourth-color;
              }
            }

            .name {
              width: 100%;
            }

            .gift-amount, .donated-amount {
              width: 100%;

              .gift-amount-label, .donated-amount-label {
                margin-right: 10px;
                width: 180px;
                display: inline-flex;
              }
            }

            .donation {
              width: 100%;

              .donate-input {
                display: block;
                margin-top: 15px;
                width: 35%;
              }

              .donate-button {
                padding: 0 35px;
              }

              .login-button {
                background-color: #10abbf;
                color: #fff;
                border: none;
                border-radius: 5px;
                margin-top: 15px;
                padding: 8px 10px;
                display: inline-block;
              }
            }

            .karma {
              width: 100%;
              align-self: flex-end;
              margin-bottom: 10px;
            }
          }
        }
      }

      .gift-description {
        min-height: 40px;
        margin: 40px 100px 40px 4px;
        font-size: 1.3em;
      }
    }
  }

  .gift-user {
    margin: 30px 0 0;
    background-color: #f3f1f18c;

    .user-info {
      display: flex;
      margin: 0 auto;
      width: 80%;
      padding: 40px 0 20px;

      .user-image {
        width: 8%;
        min-width: 75px;

        img {
          width: 100%;
        }
      }

      .user-details {
        display: flex;
        flex-flow: row wrap;
        margin-left: 15px;

        h3 {
          width: 100%;
          margin: 0 0 5px 0;
        }

        .karma-history {
          align-self: flex-end;
          margin-bottom: 5px;
        }
      }
    }

    .user-description {
      min-height: 80px;
      font-size: 1.3em;
      margin: 0 auto;
      width: 80%;
      padding: 40px 0;
    }
  }
}