.gift-list {
  margin-top: -60px;

  .gift-list-search {
    background: #f3f1f18c;

    .gift-list-search-title {
      text-align: center;
      padding-top: 40px;
      display: block;

      p {
        font-size: 1.7em;
        padding-top: 15px;
      }
    }

    .search-input {
      height: 220px;
      margin-top: -60px;
      display: flex;
      align-items: center;
      justify-content: center;

      input[type=search] {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
      }
    }
  }

  .gift-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .gift-item {
      background-color: #f3f1f18c;
      border: 1px solid lightgray;
      padding: 0;

      img {
        height: 100%;
        width: 100%;
        border-radius: 5px;
      }

      &:hover {
        padding: 5px;

        img {
          display: none;
        }

        .gift-info {
          margin: 0px 12px;

          .title, .description, .username-label, .actions-percent {
            display: flex;
          }
        }
      }

      .gift-info {
        margin: 0;

        .title, .description, .username-label, .actions-percent {
          display: none;
        }
      }
    }

    .username-label {
      align-self: flex-end;

      .username {
        font-weight: 600;
        margin-left: 5px;
      }
    }

    .actions-percent {
      .actions {
        align-self: flex-end;
        margin-bottom: 10px;
      }
    }
  }
}