.header-distributed {
  background-color: $secondary-color;
  box-shadow:0 1px 1px #ccc;
  padding: 20px 40px;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 60px;

  .header-limiter {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;

    .company-logo {
      display: flex;
      align-items: center;

      .logo-img {
        height: 50px;
      }

      .logo-text {
        font-size: 32px;
        font-weight: 700;
        margin-left: 20px;
      }
    }

    .header-buttons {
      display: flex;
      align-items: center;

      .dashboard-button, .create-gift-button, .discover-button {
        display: flex;
        margin-right: 30px;
      }

      .create-gift-button {
        height: 45px;
        width: 45px;
        background-color: $primary-color;
        border-radius: 6px;
      }

      .dashboard-button, .create-gift-button, .discover-button {
        i {
          font-size: 1.7em;
          display: flex;
          align-self: center;
          margin-left: auto;
          margin-right: auto;
          color: #fff;
          text-decoration: none;
        }
      }
    }
  }
}