.login-buttons {
  display: flex;
  align-items: center;

  ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      opacity:0.9;

      &:hover{
        opacity: 1;
      }

      &:last-child a {
        font-weight: bold;
        background-color: #3a3c3e;
        padding: 10px 15px;
        border-radius: 3px;
      }
    }

    .loginbutton {
      margin-right: 15px;
    }
  }
}