/* lightblue */
/* black */
/* black 2*/
/* gray */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

h1 {
  text-transform: uppercase;
  font-size: 3em;
  color: #292c2f; }

h2 {
  margin: 0;
  text-transform: none;
  color: #292c2f;
  font-size: 2em; }

h3 {
  margin: 0;
  text-transform: none;
  color: #292c2f;
  font-size: 1.6em; }

p {
  font-size: 1em;
  color: #10abbf; }

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #10abbf;
    text-decoration: none; }

button {
  background-color: #10abbf;
  color: #fff;
  border: none;
  height: 35px;
  border-radius: 5px;
  margin-top: 15px;
  padding: 0 10px; }

input {
  height: 45px;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 10px; }

.karma.bkp {
  color: #ce0000;
  font-size: 1.1em;
  font-weight: 600; }

.karma.gkp {
  color: #04c304;
  font-size: 1.1em;
  font-weight: 600; }

.header-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px #ccc;
  padding: 20px 40px;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 60px; }
  .header-distributed .header-limiter {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between; }
    .header-distributed .header-limiter .company-logo {
      display: flex;
      align-items: center; }
      .header-distributed .header-limiter .company-logo .logo-img {
        height: 50px; }
      .header-distributed .header-limiter .company-logo .logo-text {
        font-size: 32px;
        font-weight: 700;
        margin-left: 20px; }
    .header-distributed .header-limiter .header-buttons {
      display: flex;
      align-items: center; }
      .header-distributed .header-limiter .header-buttons .dashboard-button, .header-distributed .header-limiter .header-buttons .create-gift-button, .header-distributed .header-limiter .header-buttons .discover-button {
        display: flex;
        margin-right: 30px; }
      .header-distributed .header-limiter .header-buttons .create-gift-button {
        height: 45px;
        width: 45px;
        background-color: #10abbf;
        border-radius: 6px; }
      .header-distributed .header-limiter .header-buttons .dashboard-button i, .header-distributed .header-limiter .header-buttons .create-gift-button i, .header-distributed .header-limiter .header-buttons .discover-button i {
        font-size: 1.7em;
        display: flex;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        text-decoration: none; }

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin-top: 80px;
  overflow: hidden; }
  .footer-distributed .footer-left {
    float: left; }
  .footer-distributed .footer-right {
    float: right; }
  .footer-distributed .footer-links {
    color: #fff;
    margin: 0 0 10px;
    padding: 0; }
    .footer-distributed .footer-links a {
      display: inline-block;
      line-height: 1.8;
      margin-right: 2em; }
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0; }
  .footer-distributed .footer-icons {
    margin-top: 40px; }
    .footer-distributed .footer-icons a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #1f2022;
      border-radius: 2px;
      font-size: 20px;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px; }
  .footer-distributed .footer-company {
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px; }
    .footer-distributed .footer-company a {
      display: inline-flex;
      align-items: center; }
    .footer-distributed .footer-company .logo-img {
      width: 50px; }
    .footer-distributed .footer-company .logo-text {
      font-size: 32px;
      margin-left: 18px; }

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b; }

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1; }

.footer-distributed :-ms-input-placeholder {
  color: #5c666b; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-company-name {
    font-size: 12px; }
  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px; }
  .footer-distributed form button {
    padding: 10px 35px; } }

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px; }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
      float: none;
      max-width: 300px;
      margin: 0 auto; }
    .footer-distributed .footer-left {
      margin-bottom: 40px; }
    .footer-distributed form {
      margin-top: 30px;
      display: block; }
      .footer-distributed form button {
        float: none; } }

.contactform p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff; }

.contactform form {
  display: inline-block; }
  .contactform form input,
  .contactform form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    width: 400px;
    padding: 18px; }
  .contactform form input {
    height: 55px;
    margin-bottom: 15px; }
  .contactform form textarea {
    height: 100px;
    margin-bottom: 20px; }
  .contactform form button {
    border-radius: 3px;
    background-color: #1f2022;
    color: #fff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
    height: 48px; }

.login-buttons {
  display: flex;
  align-items: center; }
  .login-buttons ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0; }
    .login-buttons ul li {
      display: inline-block;
      opacity: 0.9; }
      .login-buttons ul li:hover {
        opacity: 1; }
      .login-buttons ul li:last-child a {
        font-weight: bold;
        background-color: #3a3c3e;
        padding: 10px 15px;
        border-radius: 3px; }
    .login-buttons ul .loginbutton {
      margin-right: 15px; }

.gift-list {
  margin-top: -60px; }
  .gift-list .gift-list-search {
    background: #f3f1f18c; }
    .gift-list .gift-list-search .gift-list-search-title {
      text-align: center;
      padding-top: 40px;
      display: block; }
      .gift-list .gift-list-search .gift-list-search-title p {
        font-size: 1.7em;
        padding-top: 15px; }
    .gift-list .gift-list-search .search-input {
      height: 220px;
      margin-top: -60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .gift-list .gift-list-search .search-input input[type=search] {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex; }
  .gift-list .gift-container {
    padding: 0;
    list-style: none;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap; }
    .gift-list .gift-container .gift-item {
      background-repeat: no-repeat;
      background-size: cover;
      border: 1px solid lightgray;
      width: 400px;
      height: 220px;
      margin: 10px 10px;
      color: white;
      text-align: center;
      display: flex;
      align-items: flex-end; }
      .gift-list .gift-container .gift-item .gift-info {
        background-color: rgba(0, 0, 0, 0.35);
        width: 100%;
        max-height: 120px; }
        .gift-list .gift-container .gift-item .gift-info .title {
          text-align: left;
          font-size: 1.4em;
          margin-left: 15px;
          margin-top: 8px;
          font-weight: 600;
          margin-bottom: 5px;
          color: #10abbf; }
        .gift-list .gift-container .gift-item .gift-info .description {
          text-align: left;
          margin: 0 16px 10px;
          display: flex;
          align-self: flex-end;
          font-size: 1.2em; }
        .gift-list .gift-container .gift-item .gift-info .userinfo {
          margin: 20px 0 10px 18px;
          text-align: left; }
          .gift-list .gift-container .gift-item .gift-info .userinfo .username {
            font-weight: 600; }

.gift-form-container {
  background-color: #f3f1f18c;
  padding: 50px;
  list-style: none;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: flex;
  border-radius: 10px; }
  .gift-form-container .gift-form {
    width: 100%; }
    .gift-form-container .gift-form .gift-form-inputs {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 80px; }
      .gift-form-container .gift-form .gift-form-inputs .gift-form-images {
        margin-right: 50px;
        width: 30%; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-images .dropzone div {
          width: 100% !important;
          height: 115px !important;
          border: 2px dashed lightgray !important;
          text-align: center;
          padding-top: 45px; }
      .gift-form-container .gift-form .gift-form-inputs .gift-form-data {
        width: 100%; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-title input {
          width: 80%;
          height: 40px;
          margin: 25px 0; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-amount input {
          width: 34%;
          height: 40px;
          margin: 0 0 5px; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-amount span {
          display: block;
          margin: 5px 0 30px 5px; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-description textarea {
          width: 100%;
          height: 300px;
          padding: 10px;
          border: 1px solid lightgray;
          border-radius: 6px;
          resize: none; }
    .gift-form-container .gift-form .gift-form-submit .cancel {
      background-color: #fff;
      border: 1px solid #10abbf;
      color: #10abbf;
      margin-left: 10px;
      border-radius: 5px;
      margin-top: 15px;
      padding: 9px 45px; }

.gift-detail-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f1f18c;
  padding: 50px;
  border-radius: 10px; }
  .gift-detail-container .gift-detail .gift-info-donation {
    display: flex; }
    .gift-detail-container .gift-detail .gift-info-donation .gift-images {
      width: 40%; }
      .gift-detail-container .gift-detail .gift-info-donation .gift-images img {
        width: 100%; }
    .gift-detail-container .gift-detail .gift-info-donation .gift-donate-form {
      width: 60%;
      padding-left: 40px; }
      .gift-detail-container .gift-detail .gift-info-donation .gift-donate-form .gift-details {
        height: 100%;
        display: flex;
        flex-flow: row wrap; }
        .gift-detail-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .name {
          width: 100%; }
        .gift-detail-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donation {
          width: 100%; }
          .gift-detail-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donation .donate-input {
            display: block;
            margin-top: 15px;
            width: 35%; }
          .gift-detail-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donation .donate-button {
            padding: 0 35px; }
        .gift-detail-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .karma {
          width: 100%;
          align-self: flex-end;
          margin-bottom: 10px; }
  .gift-detail-container .gift-detail .gift-description {
    min-height: 200px;
    margin: 40px 4px;
    font-size: 1.3em; }
  .gift-detail-container .gift-user .user-info {
    display: flex; }
    .gift-detail-container .gift-user .user-info .user-image {
      width: 8%; }
      .gift-detail-container .gift-user .user-info .user-image img {
        width: 100%; }
    .gift-detail-container .gift-user .user-info .user-details {
      display: flex;
      flex-flow: row wrap;
      margin-left: 15px; }
      .gift-detail-container .gift-user .user-info .user-details h3 {
        width: 100%;
        margin-top: 5px; }
      .gift-detail-container .gift-user .user-info .user-details .karma-history {
        align-self: flex-end;
        margin-bottom: 5px; }
        .gift-detail-container .gift-user .user-info .user-details .karma-history .gift-history {
          font-size: 0.9em;
          text-decoration: underline;
          margin-top: 3px; }
  .gift-detail-container .gift-user .user-description {
    min-height: 80px;
    margin: 40px 4px 0;
    font-size: 1.3em; }

.dashboard-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f1f18c;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around; }
