/* lightblue */
/* lightblue */
/* black */
/* black 2*/
/* gray */
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

h1 {
  text-transform: uppercase;
  font-size: 3em;
  color: #292c2f; }

h2 {
  margin: 0;
  text-transform: none;
  color: #292c2f;
  font-size: 2em; }

h3 {
  margin: 0;
  text-transform: none;
  color: #292c2f;
  font-size: 1.6em; }

p {
  font-size: 1em;
  color: #10abbf; }

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer; }
  a:hover {
    color: #10abbf;
    text-decoration: none; }
  a.cancel {
    background-color: #fff;
    border: 1px solid #10abbf;
    color: #10abbf;
    margin-left: 10px;
    border-radius: 5px;
    margin-top: 15px;
    padding: 9px 45px; }
    a.cancel:hover {
      background-color: #10abbf;
      color: #fff; }

button {
  background-color: #10abbf;
  color: #fff;
  border: 1px solid #10abbf;
  height: 35px;
  border-radius: 5px;
  margin-top: 15px;
  padding: 0 10px; }
  button:hover {
    background-color: #fff;
    color: #10abbf;
    border: 1px solid #10abbf; }

input {
  height: 45px;
  border: 1px solid lightgray;
  border-radius: 6px;
  padding: 10px; }

.karma.bkp, .karma.gkp, .karma.low, .karma.middle, .karma.high, .amount.bkp, .amount.gkp, .amount.low, .amount.middle, .amount.high {
  font-size: 1.1em;
  font-weight: 600; }

.karma.bkp, .karma.low, .amount.bkp, .amount.low {
  color: #ce0000; }

.karma.middle, .amount.middle {
  color: #FF9F55; }

.karma.gkp, .karma.high, .amount.gkp, .amount.high {
  color: #04c304; }

.btn.btn-filestack:hover {
  color: #10abbf; }

.header-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px #ccc;
  padding: 20px 40px;
  color: #fff;
  box-sizing: border-box;
  margin-bottom: 0; }
  .header-distributed .header-limiter {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between; }
    .header-distributed .header-limiter .company-logo {
      display: flex;
      align-items: center; }
      .header-distributed .header-limiter .company-logo .logo-img {
        height: 50px; }
      .header-distributed .header-limiter .company-logo .logo-text {
        font-size: 32px;
        font-weight: 700;
        margin-left: 20px; }
    .header-distributed .header-limiter .header-buttons {
      display: flex;
      align-items: center; }
      .header-distributed .header-limiter .header-buttons .dashboard-button, .header-distributed .header-limiter .header-buttons .create-gift-button, .header-distributed .header-limiter .header-buttons .discover-button {
        display: flex;
        margin-right: 30px; }
      .header-distributed .header-limiter .header-buttons .create-gift-button {
        height: 45px;
        width: 45px;
        background-color: #10abbf;
        border-radius: 6px; }
      .header-distributed .header-limiter .header-buttons .dashboard-button i, .header-distributed .header-limiter .header-buttons .create-gift-button i, .header-distributed .header-limiter .header-buttons .discover-button i {
        font-size: 1.7em;
        display: flex;
        align-self: center;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        text-decoration: none; }

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  font: bold 16px sans-serif;
  text-align: left;
  padding: 50px 60px 40px;
  margin-top: 0;
  overflow: hidden; }
  .footer-distributed .footer-left {
    float: left; }
  .footer-distributed .footer-right {
    float: right; }
  .footer-distributed .footer-links {
    color: #fff;
    margin: 0 0 10px;
    padding: 0; }
    .footer-distributed .footer-links a {
      display: inline-block;
      line-height: 1.8;
      margin-right: 2em; }
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0; }
  .footer-distributed .footer-icons {
    margin-top: 40px; }
    .footer-distributed .footer-icons a {
      display: inline-block;
      width: 35px;
      height: 35px;
      background-color: #1f2022;
      border-radius: 2px;
      font-size: 20px;
      text-align: center;
      line-height: 35px;
      margin-right: 3px;
      margin-bottom: 5px; }
  .footer-distributed .footer-company {
    display: inline-flex;
    align-items: center;
    margin-bottom: 40px; }
    .footer-distributed .footer-company a {
      display: inline-flex;
      align-items: center; }
    .footer-distributed .footer-company .logo-img {
      width: 50px; }
    .footer-distributed .footer-company .logo-text {
      font-size: 32px;
      margin-left: 18px; }

.footer-distributed ::-webkit-input-placeholder {
  color: #5c666b; }

.footer-distributed ::-moz-placeholder {
  color: #5c666b;
  opacity: 1; }

.footer-distributed :-ms-input-placeholder {
  color: #5c666b; }

/* If you don't want the footer to be responsive, remove these media queries */
@media (max-width: 1000px) {
  .footer-distributed {
    font: bold 14px sans-serif; }
  .footer-distributed .footer-company-name {
    font-size: 12px; }
  .footer-distributed form input,
  .footer-distributed form textarea {
    width: 250px; }
  .footer-distributed form button {
    padding: 10px 35px; } }

@media (max-width: 800px) {
  .footer-distributed {
    padding: 30px; }
    .footer-distributed .footer-left,
    .footer-distributed .footer-right {
      float: none;
      max-width: 300px;
      margin: 0 auto; }
    .footer-distributed .footer-left {
      margin-bottom: 40px; }
    .footer-distributed form {
      margin-top: 30px;
      display: block; }
      .footer-distributed form button {
        float: none; } }

.contactform p {
  display: inline-block;
  vertical-align: top;
  margin: 15px 42px 0 0;
  color: #ffffff; }

.contactform form {
  display: inline-block; }
  .contactform form input,
  .contactform form textarea {
    display: block;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 14px;
    font-weight: normal;
    color: #d1d2d2;
    width: 400px;
    padding: 18px; }
  .contactform form input {
    height: 55px;
    margin-bottom: 15px; }
  .contactform form textarea {
    height: 100px;
    margin-bottom: 20px; }
  .contactform form button {
    border-radius: 3px;
    background-color: #1f2022;
    color: #fff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
    height: 48px; }

.login-buttons {
  display: flex;
  align-items: center; }
  .login-buttons ul {
    font: 14px Arial, Helvetica, sans-serif;
    list-style: none;
    margin: 0; }
    .login-buttons ul li {
      display: inline-block;
      opacity: 0.9; }
      .login-buttons ul li:hover {
        opacity: 1; }
      .login-buttons ul li:last-child a {
        font-weight: bold;
        background-color: #3a3c3e;
        padding: 10px 15px;
        border-radius: 3px; }
    .login-buttons ul .loginbutton {
      margin-right: 15px; }

.profile-dropdown {
  position: relative;
  display: inline-block;
  margin-left: 50px; }
  .profile-dropdown img {
    width: 53px; }
  .profile-dropdown .profile-karma {
    display: inline-flex;
    margin-left: 20px; }
  .profile-dropdown:hover .dropdown-content {
    display: block; }
  .profile-dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #5D5D5D;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 53px;
    border-radius: 3px; }
    .profile-dropdown .dropdown-content .user-menu {
      list-style-type: none;
      margin: 0;
      padding: 0; }
      .profile-dropdown .dropdown-content .user-menu a {
        font-size: 1.1em;
        width: 100%;
        display: inline-block;
        padding: 10px 15px; }
        .profile-dropdown .dropdown-content .user-menu a:hover {
          background-color: #10abbf;
          color: #fff;
          text-decoration: none; }
        .profile-dropdown .dropdown-content .user-menu a:focus {
          color: #fff;
          text-decoration: none; }

.gift-list {
  margin-top: 0; }
  .gift-list .gift-list-search {
    background: #f3f1f18c; }
    .gift-list .gift-list-search .gift-list-search-title {
      text-align: center;
      padding-top: 40px;
      display: block; }
      .gift-list .gift-list-search .gift-list-search-title p {
        font-size: 1.7em;
        padding-top: 15px; }
    .gift-list .gift-list-search .search-input {
      height: 220px;
      margin-top: -60px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .gift-list .gift-list-search .search-input input[type=search] {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        display: flex; }
  .gift-list .gift-container {
    width: 90%;
    margin-left: auto;
    margin-right: auto; }
    .gift-list .gift-container .gift-item {
      background-color: #f3f1f18c;
      border: 1px solid lightgray;
      padding: 0; }
      .gift-list .gift-container .gift-item img {
        height: 100%;
        width: 100%;
        border-radius: 5px; }
      .gift-list .gift-container .gift-item:hover {
        padding: 5px; }
        .gift-list .gift-container .gift-item:hover img {
          display: none; }
        .gift-list .gift-container .gift-item:hover .gift-info {
          margin: 0px 12px; }
          .gift-list .gift-container .gift-item:hover .gift-info .title, .gift-list .gift-container .gift-item:hover .gift-info .description, .gift-list .gift-container .gift-item:hover .gift-info .username-label, .gift-list .gift-container .gift-item:hover .gift-info .actions-percent {
            display: flex; }
      .gift-list .gift-container .gift-item .gift-info {
        margin: 0; }
        .gift-list .gift-container .gift-item .gift-info .title, .gift-list .gift-container .gift-item .gift-info .description, .gift-list .gift-container .gift-item .gift-info .username-label, .gift-list .gift-container .gift-item .gift-info .actions-percent {
          display: none; }
    .gift-list .gift-container .username-label {
      align-self: flex-end; }
      .gift-list .gift-container .username-label .username {
        font-weight: 600;
        margin-left: 5px; }
    .gift-list .gift-container .actions-percent .actions {
      align-self: flex-end;
      margin-bottom: 10px; }
  .gift-list .alert-message {
    width: 60%;
    margin: 80px auto 0;
    text-align: center;
    font-size: 1.6em;
    border: 1px solid #10abbf;
    border-radius: 5px;
    padding: 10px;
    color: #10abbf; }

.gift-container {
  padding: 10px 0;
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .gift-container .gift-item {
    margin: 10px;
    width: 360px;
    height: 235px;
    border: 1px solid lightgray;
    padding: 5px;
    background-color: #fff;
    border-radius: 6px; }
    .gift-container .gift-item .gift-info {
      margin: 0 12px;
      display: flex;
      flex-wrap: wrap;
      height: 100%; }
      .gift-container .gift-item .gift-info .title {
        font-size: 1.4em;
        color: #292c2f;
        margin: 15px 0 10px;
        width: 100%; }
      .gift-container .gift-item .gift-info .description {
        color: #292c2f;
        display: block;
        width: 100%; }
      .gift-container .gift-item .gift-info .amountinfo {
        margin: 15px 0;
        width: 100%; }
        .gift-container .gift-item .gift-info .amountinfo .amount .amount-label, .gift-container .gift-item .gift-info .amountinfo .amount .donated-label, .gift-container .gift-item .gift-info .amountinfo .donated .amount-label, .gift-container .gift-item .gift-info .amountinfo .donated .donated-label {
          color: #292c2f;
          width: 115px;
          display: inline-flex; }
      .gift-container .gift-item .gift-info .actions-percent {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .gift-container .gift-item .gift-info .actions-percent .actions {
          display: flex; }
          .gift-container .gift-item .gift-info .actions-percent .actions a {
            padding: 8px;
            border: 1px solid #10abbf;
            background-color: #10abbf;
            border-radius: 5px;
            color: #fff;
            margin-right: 10px; }
            .gift-container .gift-item .gift-info .actions-percent .actions a:hover {
              background-color: #fff;
              color: #10abbf; }
        .gift-container .gift-item .gift-info .actions-percent .percent {
          align-self: flex-end;
          font-size: 2.8em;
          color: #8F9296; }

.gifts-showmore {
  text-align: center; }

.gift-form-container {
  background-color: #f3f1f18c;
  padding: 50px 100px;
  list-style: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex; }
  .gift-form-container .gift-form {
    width: 100%; }
    .gift-form-container .gift-form .gift-form-inputs {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 80px; }
      .gift-form-container .gift-form .gift-form-inputs .gift-form-images {
        margin-right: 50px;
        width: 30%; }
      .gift-form-container .gift-form .gift-form-inputs .gift-form-data {
        width: 100%; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-title input {
          width: 80%;
          height: 40px;
          margin: 25px 0; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-amount input {
          width: 34%;
          height: 40px;
          margin: 0 0 5px; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-amount span {
          display: block;
          margin: 5px 0 30px 5px; }
        .gift-form-container .gift-form .gift-form-inputs .gift-form-data .gift-description textarea {
          width: 100%;
          height: 300px;
          padding: 10px;
          border: 1px solid lightgray;
          border-radius: 6px;
          resize: none; }

.gift-detail-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 0; }
  .gift-detail-container .gift-donation-container {
    display: flex;
    margin: 0 auto 0 auto;
    width: 80%;
    padding: 60px 0;
    background-color: #fff;
    justify-content: center; }
    .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation {
      display: flex;
      min-height: 300px; }
      .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-images {
        width: 40%;
        border: 1px solid lightgray;
        border-radius: 5px;
        padding: 20px;
        display: -ms-flexbox;
        display: flex;
        height: 245px; }
        .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-images img {
          width: 100%; }
      .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form {
        width: 60%;
        padding-left: 40px; }
        .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details {
          height: 100%;
          display: flex;
          flex-flow: row wrap; }
          .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .gift-amount-donated-percent {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-right: 66px;
            align-items: center; }
            .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .gift-amount-donated-percent .percent {
              justify-self: flex-end;
              font-size: 2.8em;
              color: #8F9296; }
          .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .name {
            width: 100%; }
          .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .gift-amount, .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donated-amount {
            width: 100%; }
            .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .gift-amount .gift-amount-label, .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .gift-amount .donated-amount-label, .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donated-amount .gift-amount-label, .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donated-amount .donated-amount-label {
              margin-right: 10px;
              width: 180px;
              display: inline-flex; }
          .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donation {
            width: 100%; }
            .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donation .donate-input {
              display: block;
              margin-top: 15px;
              width: 35%; }
            .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donation .donate-button {
              padding: 0 35px; }
            .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .donation .login-button {
              background-color: #10abbf;
              color: #fff;
              border: none;
              border-radius: 5px;
              margin-top: 15px;
              padding: 8px 10px;
              display: inline-block; }
          .gift-detail-container .gift-donation-container .gift-detail .gift-info-donation .gift-donate-form .gift-details .karma {
            width: 100%;
            align-self: flex-end;
            margin-bottom: 10px; }
    .gift-detail-container .gift-donation-container .gift-detail .gift-description {
      min-height: 40px;
      margin: 40px 100px 40px 4px;
      font-size: 1.3em; }
  .gift-detail-container .gift-user {
    margin: 30px 0 0;
    background-color: #f3f1f18c; }
    .gift-detail-container .gift-user .user-info {
      display: flex;
      margin: 0 auto;
      width: 80%;
      padding: 40px 0 20px; }
      .gift-detail-container .gift-user .user-info .user-image {
        width: 8%;
        min-width: 75px; }
        .gift-detail-container .gift-user .user-info .user-image img {
          width: 100%; }
      .gift-detail-container .gift-user .user-info .user-details {
        display: flex;
        flex-flow: row wrap;
        margin-left: 15px; }
        .gift-detail-container .gift-user .user-info .user-details h3 {
          width: 100%;
          margin: 0 0 5px 0; }
        .gift-detail-container .gift-user .user-info .user-details .karma-history {
          align-self: flex-end;
          margin-bottom: 5px; }
    .gift-detail-container .gift-user .user-description {
      min-height: 80px;
      font-size: 1.3em;
      margin: 0 auto;
      width: 80%;
      padding: 40px 0; }

.gift-history-container {
  margin-top: 5px; }
  .gift-history-container a {
    font-size: 0.9em;
    text-decoration: underline;
    color: #292c2f; }

.gift-history {
  padding: 10px 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #10abbf; }
  .gift-history:before {
    content: " ";
    height: 0;
    position: relative;
    top: -30px;
    width: 0;
    z-index: 1;
    left: -30%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #10abbf; }
  .gift-history .gift-history-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px; }
    .gift-history .gift-history-items .gift-item {
      margin: 10px;
      width: 23%;
      height: 165px;
      padding: 5px;
      background-color: #fff;
      border-radius: 6px; }
      .gift-history .gift-history-items .gift-item .gift-info {
        margin: 0 12px;
        display: flex;
        flex-wrap: wrap;
        height: 100%; }
        .gift-history .gift-history-items .gift-item .gift-info .title {
          font-size: 1.4em;
          color: #292c2f;
          margin: 15px 0 10px;
          width: 100%; }
        .gift-history .gift-history-items .gift-item .gift-info .description {
          color: #292c2f;
          display: block;
          width: 100%; }
        .gift-history .gift-history-items .gift-item .gift-info .amountinfo {
          margin: 15px 0;
          width: 100%; }
          .gift-history .gift-history-items .gift-item .gift-info .amountinfo .amount .amount-label, .gift-history .gift-history-items .gift-item .gift-info .amountinfo .amount .donated-label, .gift-history .gift-history-items .gift-item .gift-info .amountinfo .donated .amount-label, .gift-history .gift-history-items .gift-item .gift-info .amountinfo .donated .donated-label {
            color: #292c2f;
            width: 115px;
            display: inline-flex; }
        .gift-history .gift-history-items .gift-item .gift-info .actions-percent {
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center; }
          .gift-history .gift-history-items .gift-item .gift-info .actions-percent .actions {
            display: flex; }
            .gift-history .gift-history-items .gift-item .gift-info .actions-percent .actions a {
              padding: 8px;
              border: 1px solid #10abbf;
              background-color: #10abbf;
              border-radius: 5px;
              color: #fff;
              margin-right: 10px; }
              .gift-history .gift-history-items .gift-item .gift-info .actions-percent .actions a:hover {
                background-color: #fff;
                color: #10abbf; }
          .gift-history .gift-history-items .gift-item .gift-info .actions-percent .percent {
            align-self: flex-end;
            font-size: 2.8em;
            color: #8F9296; }

.dashboard-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f3f1f18c;
  padding: 50px;
  display: flex;
  justify-content: space-around; }
  .dashboard-container a {
    color: #10abbf; }
  .dashboard-container h2 {
    margin: 20px 18px 0;
    color: #292c2f;
    font-size: 1.5em;
    text-align: center;
    background-color: #d8d8d85c;
    padding: 10px 0;
    border-radius: 5px;
    text-transform: uppercase; }
  .dashboard-container .my-gifts {
    margin-right: 60px; }
  .dashboard-container .my-donations {
    margin-left: 20px; }

.donation-container {
  padding: 10px 0;
  margin-top: 40px;
  border-left: 4px solid #10abbf; }
  .donation-container .donation-item {
    padding: 20px 30px;
    background-color: #fff;
    position: relative;
    border-radius: 6px;
    margin: 20px;
    border: 1px solid lightgray; }
    .donation-container .donation-item:before {
      content: " ";
      height: 0;
      position: absolute;
      top: 22px;
      width: 0;
      z-index: 1;
      left: -10px;
      border: medium solid #fff;
      border-width: 10px 10px 10px 0;
      border-color: transparent rgba(16, 171, 191, 0.231373) transparent transparent; }
    .donation-container .donation-item:after {
      content: '';
      position: absolute;
      width: 25px;
      height: 25px;
      left: -35px;
      background-color: #10abbf;
      border: 4px solid #FF9F55;
      top: 19px;
      border-radius: 50%;
      z-index: 1; }
    .donation-container .donation-item .donation-info {
      width: 200px;
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap; }
      .donation-container .donation-item .donation-info .date {
        font-size: 1.4em;
        margin-bottom: 10px; }
      .donation-container .donation-item .donation-info .amount .amount-label, .donation-container .donation-item .donation-info .amount .karma-label, .donation-container .donation-item .donation-info .karma .amount-label, .donation-container .donation-item .donation-info .karma .karma-label {
        min-width: 100px;
        display: inline-flex; }
      .donation-container .donation-item .donation-info .karma {
        width: 100%; }
      .donation-container .donation-item .donation-info .gift {
        margin-top: 10px; }
      .donation-container .donation-item .donation-info .user {
        margin-top: 10px; }

.donations-showmore {
  text-align: center; }

.profile-form-container {
  background-color: #f3f1f18c;
  padding: 50px 100px;
  list-style: none;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex; }
  .profile-form-container .profile-form {
    width: 100%; }
    .profile-form-container .profile-form .profile-form-inputs {
      display: flex;
      justify-content: flex-start;
      margin-bottom: 80px; }
      .profile-form-container .profile-form .profile-form-inputs .profile-form-images {
        margin-right: 50px;
        margin-top: 50px; }
        .profile-form-container .profile-form .profile-form-inputs .profile-form-images .thumbnail {
          padding: 0;
          margin-bottom: 0;
          border: none;
          border-radius: 100%; }
          .profile-form-container .profile-form .profile-form-inputs .profile-form-images .thumbnail img {
            width: 250px;
            height: 200px;
            border-radius: 50%; }
      .profile-form-container .profile-form .profile-form-inputs .profile-form-data {
        width: 100%; }
        .profile-form-container .profile-form .profile-form-inputs .profile-form-data h2 {
          margin-bottom: 15px; }
        .profile-form-container .profile-form .profile-form-inputs .profile-form-data .user-firstname input, .profile-form-container .profile-form .profile-form-inputs .profile-form-data .user-lastname input, .profile-form-container .profile-form .profile-form-inputs .profile-form-data .user-username input, .profile-form-container .profile-form .profile-form-inputs .profile-form-data .user-phone input, .profile-form-container .profile-form .profile-form-inputs .profile-form-data .user-email input {
          width: 50%;
          height: 40px;
          margin: 10px 0; }
        .profile-form-container .profile-form .profile-form-inputs .profile-form-data .user-description textarea {
          width: 100%;
          height: 300px;
          padding: 10px;
          border: 1px solid lightgray;
          border-radius: 6px;
          resize: none;
          margin-top: 10px; }
    .profile-form-container .profile-form .profile-form-submit button {
      padding: 0 30px; }

#loader {
  height: 100%;
  width: 100%;
  background-color: #fff;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  display: flex;
  justify-content: center;
  margin-top: 80px; }
  #loader .letter {
    font-size: 4em;
    color: #10abbf; }
  #loader .box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  #loader .loaderCircle, #loader .loaderInner, #loader .loaderCore {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%; }
  #loader .loader, #loader .letter, #loader .loaderCircle, #loader .loaderInner, #loader .loaderCore {
    flex: none;
    -webkit-flex: none;
    -ms-flex: none; }
  #loader .letter, #loader .loaderCircle {
    align-self: center;
    -webkit-align-self: center; }
  #loader .loaderCircle {
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    background-color: #10abbf; }
  #loader .loaderInner {
    align-self: center;
    justify-content: center;
    height: 50%;
    width: 50%;
    background-color: #f3f1f18c;
    -webkit-animation-name: loaderAnimate;
    -webkit-animation-duration: 500ms;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite; }
  #loader .loaderCore {
    align-self: center;
    height: 25%;
    width: 25%;
    background-color: #f3f1f18c;
    -webkit-animation-name: coreAnimate;
    -webkit-animation-duration: 1s;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite; }

@-webkit-keyframes loaderAnimate {
  to {
    height: 90%;
    width: 90%; } }

@keyframes loaderAnimate {
  to {
    height: 90%;
    width: 90%; } }

@-webkit-keyframes coreAnimate {
  to {
    height: 90%;
    width: 90%; } }

@keyframes coreAnimate {
  to {
    height: 90%;
    width: 90%; } }

.banner-content {
  display: inline-flex;
  width: 100%;
  padding: 100px 20px;
  background-color: #f3f1f18c;
  margin: 60px 0 0; }
  .banner-content .banner-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; }
    .banner-content .banner-row .banner-item {
      height: 120px;
      width: 18%;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #10abbf;
      color: #fff;
      font-size: 1.8em; }
