.karma, .amount {
  &.bkp, &.gkp, &.low, &.middle, &.high {
    font-size: 1.1em;
    font-weight: 600;
  }

  &.bkp, &.low {
    color: #ce0000;
  }

  &.middle {
    color: #FF9F55;
  }

  &.gkp, &.high {
    color: #04c304;
  }
}