$primary-color: #10abbf; /* lightblue */
$primary-color-transparent: rgba(16, 171, 191, 0.23137254901960785); /* lightblue */
$secondary-color: #292c2f; /* black */
$third-color: #1f2022; /* black 2*/
$fourth-color: #8F9296; /* gray */